html {
    background-color: black;
    color: white;
}

div {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.message {
    text-align: center;
    font-size: 4rem;
    display: none;
}

.message-show {
    display: block;
}